/** Get yer font on! **/
@font-face {
    font-family: 'GeneralSans';
    src: url('https://cdn.kevquirk.com/GeneralSans-Variable.woff2') format('woff2'),
         url('https://cdn.kevquirk.com/GeneralSans-Variable.woff') format('woff');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'GeneralSans';
    src: url('https://cdn.kevquirk.com/GeneralSans-VariableItalic.woff2') format('woff2'),
         url('https://cdn.kevquirk.com/GeneralSans-VariableItalic.woff') format('woff');
         font-weight: 200 700;
         font-display: swap;
         font-style: italic;
  }
  
  /** Global colour variables **/
  :root {
    --text: #000;
    --dark-text: #000;
    --bg: #fafafa;
    --accent-bg: #efefef;
    --input-bg: white;
    --border: #000;
    --yellow: #ffdd55;
    --blue: #aaccff;
    --pink: #f495c6;
    --purple: #929cf9;
    --green: #c3ec81;
    --sans: 'GeneralSans', Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    --mono: Menlo, Consolas, Monaco, "Liberation Mono", Lucida Console, monospace;
    --content-margin: 1.5rem auto;
    --bigger-content-margin: 2.5rem auto;
    --standard-border: 3px solid var(--border);
  }
  
  /****** Main body elements ******/
  html {
    scroll-behavior: smooth;
    min-height: 100%;
  }
  
  body {
    color: var(--text);
    background: var(--bg);
    font-family: var(--sans);
    font-size: 1.35rem;
    line-height: 1.5;
    margin: 0;
  }
  
  header {
  background: var(--accent-bg);
  padding: 1.5rem 0;
  border-bottom: var(--standard-border);
  }
  
  .header-container {
  max-width: 80ch;
  display: block;
  margin: 0 auto;
  text-align: center;
  }
  
  header h1 {
  font-size: 2rem;
  margin-top: -5px;
  }
  
  /* grid container */
  .sidebar-grid {
  display:grid;
  grid-gap: 2.5rem;
  grid-template-areas:
      'main-content'
      'sidebar';
  max-width: 90ch;
  margin: 0 auto;
  padding: 0;
  /* fallback height */
  min-height:100vh;
  
  /* new small viewport height for modern browsers */
  min-height:100svh;
  }
  
  .sidebar-grid > .main-content {
  grid-area: main-content;
  background: var(--bg);
  padding: 2rem 1rem;
  }
  
  .sidebar-grid > .sidebar {
  grid-area: right-sidebar;
  padding: 2rem 1rem;
  }
  
  .mobile-container {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  }
  
  .site-logo {
  width: 4rem;
  height: auto;
  display: block;
  margin: 0 auto;
  stroke-width: 0;
  stroke: var(--text);
  fill: var(--text);
  }
  
  /* Grid tablet breakpoint */
  @media (min-width:768px) {
  .sidebar-grid {
      grid-template-columns:30% 30% 30%;
      grid-template-areas:
          'main-content main-content right-sidebar'
  }
  .mobile-menu {
    display: none;
  }
  }
  
  @media (max-width:950px) {
  .main-menu::before {
    content: "NAV" !important;
  }
  .main-menu {
    padding: 0 1rem 2rem 1rem !important;
  }
  }
  
  /* Grid mobile breakpoint */
  @media (max-width:800px) {
  .sidebar-grid,
  .main-content {
    display: block;
    max-width: 100%;
    border: none !important;
  }
  .sidebar {
    display: none;
  }
  .mobile-menu {
    display: block;
    padding: 0 1rem;
    max-width: 500px;
    margin: 0 auto;
  }
  .site-logo {
    padding-bottom: 1rem;
  }
  nav a.button {
    margin: 1rem auto !important;
  }
  }
  
  main {
    display: block;
    padding: 0 1rem;
    min-height: 67vh;
  }
  
  main img {
    max-width: 100%;
  }
  
  main.home-container {
    max-width: 40rem;
    margin: 2rem auto;
  }
  
  figure {
    margin: 2.5rem auto;
    text-align: center;
  }
  
  figcaption {
    font-size: 1rem;
    font-style: normal;
    text-align: center;
    display: block;
  }
  
  video {
  max-width: 100%;
  height: auto;
  margin: var(--bigger-content-margin);
  display: block;
  }
  
  audio {
  width: 100%;
  padding: 0;
  margin: var(--bigger-content-margin);
  }
  
  iframe {
  display: block;
  margin: var(--bigger-content-margin);
  }
  
  footer {
    padding: 1rem 2rem;
    text-align: center;
    font-size: 0.9rem;
    background-color: var(--accent-bg);
    border-top: var(--standard-border)
  }
  
  footer a.button {
  margin: 0;
  }
  
  a.home-link:hover {
  background: none;
  }
  
  /* Main nav menu */
  nav {
  margin: 2rem 0;
  }
  
  .main-menu {
    border: var(--standard-border);
    background: var(--accent-bg);
    padding: 0 2.5rem 2rem 2.5rem;
  }
  
  .main-menu::before {
    content: "NAVIGATION";
    background: var(--green);
    color: var(--dark-text);
    width: 80%;
    border: var(--standard-border);
    display: block;
    text-align: center;
    position: relative;
    padding: 2px 10px;
    margin: 0 auto;
    font-weight: bold;
    top: -1.5rem;
  }
  
  nav a.button {
    display: block;
    margin: 1rem 0;
    padding: 8px 0;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .mobile-menu details,
  .sidebar details {
    background: var(--bg);
    margin: 0;
    box-shadow: 6px 6px 0 0 var(--border);
    transition: color .1s ease-in-out, .1s ease-in-out;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  
  .sidebar details {
    margin-bottom: 1.5rem;
  }
  
  .mobile-menu details:hover,
  .sidebar details:hover {
    box-shadow: none;
    background: var(--pink);
    color: var(--dark-text);
  }
  
  .mobile-menu details[open],
  .sidebar details[open] {
    box-shadow: none;
    background: var(--accent-bg);
  }
  
  .mobile-menu details[open]:hover,
  .sidebar details[open]:hover {
    background: none;
  }
  
  .mobile-menu details > summary,
  .sidebar details > summary {
    list-style: none;
    text-align: center;
    padding: 8px 0;
  }
  
  .mobile-menu details > summary::-webkit-details-marker,
  .sidebar details > summary::-webkit-details-marker {
    display: none;
  }
  
  .mobile-summary {
    padding-top: 7px !important;
  }
  
  .mobile-summary:hover {
    color: var(--dark-text);
  }
  
  details[open] > summary.mobile-summary {
    color: var(--text);
  }
  
  /* Mobile responsiveness */
  @media only screen and (max-width: 750px) {
  header {
    text-align: center;
  }
  
  .post-nav {
    max-width: 100%;
    padding: 0;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2.1rem;
  }
  
  .post-list h2 {
    font-size: 1.8rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  h4 {
    font-size: 1.25rem;
  }
  }
  
  /**** Typography ****/
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  
  h1, h2, h3 {
  line-height: 1.2;
  }
  
  h4, h5, h6 {
  margin-bottom: 1rem;
  line-height: 1.2;
  }
  
  h1 {
  font-size: 3rem;
  margin: 0;
  }
  
  h1.title {
    margin-bottom: 3rem;
  }
  
  .home-container h1 {
    font-size: 2rem;
  }
  
  h2 {
  font-size: 2.6rem;
  margin: 4rem 0 0 0;
  }
  
  h3 {
    font-size: 2rem;
    margin: 3rem 0 0 0;
  }
  
  h4 {
    font-size: 1.44rem;
  }
  
  h5 {
    font-size: 1.15rem;
  }
  
  h6 {
    font-size: 0.96rem;
  }
  
  h1 code,
  h2 code,
  h3 code,
  h4 code,
  h5 code,
  h6 code {
    font-size: inherit;
  }
  
  h2.post-title {
    font-size: 2rem;
  }
  
  p {
    margin: var(--content-margin);
  }
  
  h2.post-title,
  p.meta,
  p.date {
    margin: 0;
  }
  
  p.meta,
  p.date {
    font-size: 1.1rem;
    margin-bottom: 3rem;
  }
  
  p.meta span {
  padding: 0 0.5rem;
  }
  
  .note p {
    margin: 0 0 1rem 0 !important;
  }
  
  span.note-meta {
    font-size: 1.1rem;
    color: var(--dark-text);
    position: relative;
    top: -2.25rem;
    border: var(--standard-border);
    padding: 5px 10px;
    background: var(--yellow);
  }
  
  span.note-meta a {
    text-decoration: none;
    color: var(--dark-text);
  }
  
  span.note-meta a:hover {
    background: none;
    text-decoration: underline;
  }
  
  .note {
    margin-bottom: 5rem !important;
  }
  
  .note figure {
    margin: 1rem auto 0 auto;
  }
  
  .note a {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  
  .tldr,
  .medium {
    margin: 3rem 0;
    font-size: 1.75rem;
    line-height: 1.3;
    font-weight: 300;
  }
  
  .small {
    font-size: 1rem;
  }
  
  /*** Links and buttons ***/
  a,
  a:visited {
    color: var(--text);
    text-decoration-thickness: .15rem;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
  }
  
  a:hover {
  text-decoration-color: var(--pink);
  background: var(--pink);
  color: var(--dark-text);
  text-decoration: none;
  }
  
  .button,
  #submit {
  color: var(--text);
  border: var(--standard-border);
  background: var(--bg);
  box-shadow: 6px 6px 0 0 var(--border);
  transition: color .1s ease-in-out, .1s ease-in-out;
  margin: 1.5rem 0;
  padding: 10px 12px;
  font-size: inherit;
  font-family: inherit;
  }
  
  a.button {
  color: var(--text);
  text-decoration: none;
  display: inline-block;
  }
  
  .button span {
  padding: 0 0.5rem;
  }
  
  .button:hover,
  #submit:hover,
  .current {
  box-shadow: 0px 0px 0 0 var(--border);
  color: var(--dark-text) !important;
  background: var(--pink) !important;
  border-color: var(--standard-border);
  }
  
  .reply-button {
    font-size: 1.8rem;
    padding: 15px 20px
  }
  
  .reply {
  border: 6px solid;
  box-shadow: 8px 8px 0 0 var(--border);
  }
  
  /**** Misc elements ****/
  table {
  border: var(--standard-border);
  margin: var(--bigger-content-margin);
  width: 100%;
  }
  
  th {
  text-align: left;
  padding: .2rem .4rem;
  background: var(--blue);
  }
  
  td {
  padding: .2rem .4rem;
  }
  
  tr:nth-child(2n) {
  background: var(--accent-bg);
  }
  
  .post-footer {
    text-align:center;
    margin: 5rem 0 2rem 0;
  }
  
  mark {
  background: var(--yellow);
  color: var(--dark-text);
  }
  
  /* Form inputs */
  input,
  textarea,
  select {
    font-family: var(--sans);
    font-size: inherit;
  }
  
  input#bd-email,
  input#search,
  input#name,
  input#website,
  input#captcha,
  input#password,
  input#idea,
  select {
    padding: .7rem;
    border: var(--standard-border);
    background: var(--input-bg);
    color: var(--text);
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
  background: var(--bg);
  color: var(--text);
  border: var(--standard-border);
  }
  
  textarea {
  padding: .7rem;
  border: var(--standard-border);
  background: var(--input-bg);
  color: var(--text);
  width: 100%;
  box-sizing: border-box;
  }
  
  input#search-input {
    margin: 2rem 0 1rem 0;
  }
  
  input,
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  
  input[type="radio"]{
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
  }
  
  input[type="radio"] {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: var(--pink);
  }
  
  
  /* Add arrow to drop-down */
  select:not([multiple]) {
  background-image: linear-gradient(45deg, transparent 49%, var(--text) 51%),
    linear-gradient(135deg, var(--text) 51%, transparent 49%);
  background-position: calc(100% - 15px), calc(100% - 10px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  padding-inline-end: 25px;
  }
  *[dir="rtl"] select:not([multiple]) {
  background-position: 10px, 15px;
  }
  
  /* Hover effect on about page image */
  .avatar {
    position: relative;
    margin: 3rem 0;
  }
  
  .avatar img {
    max-width: 250px;
    border: var(--standard-border);
    display: block;
    margin: 0 auto;
    background: var(--pink);
  }
  
  
  /* Format the phone on my about page */
  .phone-chat {
    max-width: 30rem;
    margin: var(--bigger-content-margin)
  }
  
  .phone-message,
  .phone-reply {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 60%;
    border-radius: 12px;
    font-size: 1.1rem;
    clear: both;
  }
  
  .phone-message p,
  .phone-reply p {
    margin: 0;
  }
  
  .phone-message {
    background: #e6e5eb;
  }
  
  .phone-reply {
    background: #0a81ff;
    float: right;
  }
  
  .phone-reply p {
    color: white;
  }
  
  @media only screen and (max-width: 750px) {
    .phone-chat {
      width: 100%;
    }
  }
  
  /* Everything else... */
  .center {
  text-align: center;
  }
  
  .floatleft {
  float: left;
  }
  
  figure.floatleft {
  margin: 0;
  }
  
  .border {
    border: var(--standard-border);
  }
  
  hr {
    border-top: var(--standard-border);
    color: var(--dark-text);
    margin: 3.5rem auto;
    max-width: 60%;
  }
  
  blockquote {
    font-size: 1.5rem;
    font-style: italic;
    margin: var(--bigger-content-margin);
    padding: .4rem .8rem;
    border-left: 6px solid var(--border);
    opacity: 70%;
    display: block;
  }
  
  cite {
    font-size: 1rem;
    font-family: var(--sans);
    font-style: normal;
  }
  
  pre,
  code,
  tt,
  var {
  font-family: var(--mono);
  font-size: 1.1rem;
  color: var(--text);
  background: var(--accent-bg);
  padding: 2px 5px;
  border: 1px solid var(--border);
  }
  
  pre,
  pre.highlight {
  background: var(--accent-bg);
  border: var(--standard-border);
  margin: var(--bigger-content-margin);
  max-width: 100%;
  padding: 1.5rem;
  max-height: 650px;
  overflow: auto;
  white-space: pre;}
  
  pre code {
  font-size: 1rem;
  padding: 0;
  background: none;
  border: none;
  }
  
  kbd {
  color: var(--text);
  background: var(--accent-bg);
  border: 1px solid var(--border);
  border-bottom: var(--standard-border);
  border-radius: 5px;
  padding: 0.1rem 0.25rem;
  }
  
  .hidden,
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .honey {
  position: absolute;
  left: -9999px;
  }
  
  .icon {
  vertical-align: sub;
  padding-right: .25rem;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  }
  
  /** Pagination **/
  .post-nav {
    max-width: 100%;
    padding: 0;
  }
  
  .post-nav {
    display: flex;
    border-top: var(--standard-border);
    border-bottom: var(--standard-border);
    margin: 2rem auto;
  }
  
  .post-nav a {
    font-weight: bold;
  }
  
  .post-nav p {
    padding: 2rem 0;
  }
  
  .post-nav div {
    /* flex-grow, flex-shrink, flex-basis */
    flex: 1 1 0;
  }
  
  .post-nav-next {
    text-align: right;
  }
  
  .pagination-links {
    padding: 2rem 0.5rem;
    display: block;
  }
  
  .post-meta {
    font-size: 1rem;
    margin: var(--bigger-content-margin);
  }
  
  ul.post-meta {
    list-style-type: none;
    padding: 0;
  }
  
  ul.post-meta::before {
    content: "Posted in:";
    padding-right: 0.5rem;
    font-weight: bold;
  }
  
  ul.post-meta li {
    margin-right: 0.5rem;
    display: inline-block;
  }
  
  ul.post-meta li:last-child {
    margin-right: 0;
  }
  
  /* Format the details/summary box */
  details {
    background: var(--accent-bg);
    border: var(--standard-border);
    margin: 3rem 0;
  }
  
  summary {
    cursor: pointer;
    font-weight: bold;
    padding: .6rem 1rem;
  }
  
  details[open] {
    padding: .6rem 1rem .75rem 1rem;
  }
  
  details[open] summary {
    margin-bottom: .5rem;
    padding: 0;
    color: var(--text);
  }
  
  details[open]>*:last-child {
    margin-bottom: 0;
  }
  
  /* Notice boxes */
  .notice,
  .notice-red,
  .warning,
  .tip {
  background: var(--accent-bg);
  border: var(--standard-border);
  padding: 0 1rem 2rem 1rem;
  margin: 3.5rem 0 2.5rem 0;
  }
  
  .notice p,
  .notice-red p,
  .warning p,
  .tip p {
  margin: 0;
  }
  
  .notice p:nth-child(n+2),
  .notice-red p:nth-child(n+2),
  .warning p:nth-child(n+2),
  .tip p:nth-child(n+2) {
    margin-top: 1rem;
  }
  
  .notice::before,
  .notice-red::before,
  .warning::before,
  .tip::before {
    border: var(--standard-border);
    color: var(--dark-text);
    display: block;
    text-align: center;
    position: relative;
    top: -1.25rem;
    padding: 2px 10px;
    font-weight: bold;
  }
  
  .notice a:hover,
  .warning a:hover,
  .notice-red a:hover,
  .tip a:hover {
  background-color: var(--pink);
  }
  
  .notice::before {
  content: "NOTE";
  background: var(--blue);
  width: 5rem;
  }
  
  .notice-red::before,
  .warning::before {
  content: "WARNING";
  background: var(--yellow);
  width: 7.5rem;
  }
  
  .tip::before {
  content: "TIP";
  background: var(--green);
  width: 4rem;
  }
  
  .book,
  .watch {
    background: var(--green);
    color: var(--dark-text);
    border: var(--standard-border);
    margin: var(--bigger-content-margin);
    padding: 1.5rem;
    font-size: 1rem;
  }
  
  .book p,
  .watch p {
    margin: 0;
  }
  
  .book img,
  .watch img {
    margin: 0 1.5rem 0.75rem 0;
    border: var(--standard-border);
  }
  
  .book img {
  width: 185px;
  }
  
  .watch figure {
    margin: 0;
  }
  
  .watch img {
    float: left;
    max-width: 200px;
    max-height: 200px;
  }
  
  .watch h2 {
    margin: 0;
    font-size: 1.75rem;
  }
  
  ul.watch-log {
    list-style-type: none;
    padding: 0;
  }
  
  /* Change how watches display on mobile */
  @media only screen and (max-width: 640px) {
    .watch img {
      float: none;
      display: block;
      margin: 0 auto;
    }
    .watch h2 {
      margin-top: 1.5rem;
    }
  }
  
  .link {
    background: var(--yellow);
    color: var(--dark-text);
    border: var(--standard-border);
    margin: var(--bigger-content-margin);
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin: 2.5rem 0;
  }
  
  .link h2,
  .link h1,
  .reply-card h2 {
    margin: 0;
    font-size: 2.6rem;
  }
  
  /* Reply box */
  .reply-card {
    background: var(--pink);
    border: var(--standard-border);
    padding: 1.5rem;
  }
  
  .reply-card a:hover {
  background: var(--blue) !important;
  }
  
  /* Make full width on mobile screens */
  @media only screen and (max-width: 750px)  {
    .floatleft,
    .book img {
      float: none;
      display: block;
      margin: 0 auto;
    }
    .book img {
      margin-bottom: 1.5rem;
    }
  }
  
  .spacer {
    padding-top: 1.5rem;
  }
  
  .recent-posts,
  .home-buttons {
  padding: 0;
  margin: 2rem 0;
  list-style-type: none;
  }
  
  .recent-posts a {
  font-weight: bold;
  }
  
  .recent-posts li {
  margin-bottom: 1.5rem;
  }
  
  .home-buttons li {
    text-align: center;
  }
  
  .home-buttons li a {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .search-form,
  .embeddable-buttondown-form {
  margin: 3rem 0;
  }
  
  .card .embeddable-buttondown-form {
  margin-bottom: 0;
  }
  
  ul.search-results {
    padding: 0;
  }
  
  .search-results li {
    list-style-type: none;
    margin-bottom: 0.5rem;
  }
  
  /* Format "emails" for my letters posts */
  .email {
    font-family: var(--mono);
    font-size: 1rem;
    border: var(--standard-border);
    padding: 0 1rem;
    background: var(--accent-bg);
    margin-bottom: 1.5rem;
  }
  
  .email blockquote {
    font-size: 1rem;
    font-family: var(--mono);
  }
  
  .penpal,
  .card {
  border: var(--standard-border);
  padding: 1rem;
  margin: var(--bigger-content-margin);
  }
  
  .penpal h2,
  .card h1,
  .card h2 {
  margin: 0;
  }
  
  .card p:first-child {
  margin-top: 0;
  }
  
  .card p:last-child {
  margin-bottom: 0;
  }
  
  .penpal-date {
  margin: 0;
  }
  
  .button-group {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  }
  
  @media only screen and (max-width: 480px) {
    .button-group a,
    .button-group,
    .button-group input,
    .button-group button {
      display: block;
      text-align: center;
    }
    .button-group button {
      width: 100%;
      margin: 1rem auto;
    }
  }
  
  .button-grid {
    margin: 2.5rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 1.5rem; /* Add spacing between buttons */
    text-align: center;
  }
  
  .button-grid a.button {
    margin: 0;
  }
  
  @media (max-width: 640px) {
    .button-grid {
        grid-template-columns: repeat(2, 1fr); /* Two columns at smaller viewports */
    }
  }
  
  /* Background colours */
  .yellow, .blue, .pink, .green, .purple,
  .yellow a, .blue a, .pink a, .green a, .purple a {
    border-color: var(--border);
    color: var(--dark-text);
  }
  
  .yellow a.button, .blue a.button, .pink a.button, .green a.button, .purple a.button {
    color: var(--text);
  }
  
  .yellow {
  background: var(--yellow);
  }
  
  .blue {
  background: var(--blue);
  }
  
  .pink {
  background: var(--pink);
  }
  
  .pink a.button:hover,
  .pink .button:hover,
  .pink a:hover {
  background: var(--yellow) !important;
  }
  
  .purple {
  background: var(--purple);
  }
  
  .green {
  background: var(--green);
  }
  
  .grey,
  .sold {
  background: var(--accent-bg);
  color: var(--text);
  }
  
  .grey a.button {
  color: var(--text);
  }
  
  /** Backgrounds on hover **/
  .yellow-hover:hover { 
    background: var(--yellow) !important;
    color: var(--dark-text);
  }
  
  .blue-hover:hover { 
    background: var(--blue) !important;
    color: var(--dark-text);
  }
  
  .green-hover:hover { 
    background: var(--green) !important;
    color: var(--dark-text);
  }
  
  .purple-hover:hover { 
    background: var(--purple) !important;
    color: var(--dark-text);
  }
  
  .pink-hover:hover { 
    background: var(--pink) !important;
    color: var(--dark-text);
  }
  
  .grey-hover:hover { 
    background: var(--grey) !important;
    color: var(--dark-text);
  }
  
  .sold img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  }
  
  .sold img:hover {
  filter: none;
  }
  
  .sidebar div {
    padding: 0 1rem;
  }
  
  .sidebar div p:first-child {
    margin: 0;
  }
  
  .socials,
  .coffee,
  .subscribe {
  border: var(--standard-border);
  background: var(--accent-bg);
  margin-top: 5rem;
  text-align: center;
  }
  
  .socials .inner {
    display: grid;
      grid-template-columns: repeat(4, 1fr); /* Three equal columns */
      gap: 1.5rem; /* Add spacing between buttons */
    font-size: 2.5rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }
  
  .mobile-menu .socials {
    background: var(--bg);
  }
  
  @media (max-width: 1120px) {
    .socials .inner {
        grid-template-columns: repeat(2, 1fr); /* Two columns at smaller viewports */
    }
  
    .mobile-menu .socials .inner {
      grid-template-columns: repeat(4, 1fr); /* Four columns on mobile menu */
    }
  }
  
  @media (max-width: 350px) {
  
    .mobile-menu .socials .inner {
      grid-template-columns: repeat(2, 1fr); /* Two columns at smaller viewports */
    }
  }
  
  .socials a:hover {
    background: none;
    color: var(--text);
  }
  
  .socials svg:hover {
  background: none;
  fill: var(--pink);
  }
  
  .socials::before,
  .coffee::before,
  .subscribe::before {
    border: var(--standard-border);
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 2px 10px;
    font-weight: bold;
    top: -1.5rem;
  }
  
  .socials::before {
    content: "SOCIALS";
    background: var(--blue);
    color: var(--dark-text);
    width: 8rem;
  }
  
  .coffee::before {
    content: "COFFEE";
    background: var(--yellow);
    width: 8rem;
  }
  
  .subscribe::before {
    content: "SUBSCRIBE";
    background: var(--pink);
    color: var(--dark-text);
    width: 9rem;
  }
  
  .sidebar input.button {
    width: 100%;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --text: #d8dee9;
      --dark-text: #2e3440;
      --bg: #2e3440;
      --accent-bg: #3b4252;
      --input-bg: #434c5e;
      --border: #4c566a;
      --yellow: #ebcb8b;
      --blue: #5e81ac;
      --pink: #b48ead;
      --purple: #bf616a;
      --green: #a3be8c;
    }
  
    .phone-message {
      background: var(--accent-bg);
      color: #fafafa;
    }
  }
  
  del {
    text-decoration-thickness: 0.1rem;
  }
  
  .guestbook-reaction {
    margin: 1.5rem 0 0 1rem;
    padding-left: 1rem;
    border-left: var(--standard-border);
  }
  
  .guestbook-reply {
    margin: 1.5rem 0 0 1rem;
    padding-left: 1rem;
    border-left: var(--standard-border);
  }
  
  .guestbook-reply-text {
    padding-left: 1rem;
  }
  
  .col-2 {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."; 
  }
  
  .col-2 p {
    margin: 0.5rem auto;
  }
  
  p.draft-title {
    font-size: 1.8rem;
    margin: 0;
  }
  
  .draft span.idea,
  .draft span.in-progress,
  .draft span.published {
    padding: 0 5px;
    color: black;
  }
  
  .draft span.idea {
    background: var(--yellow);
  }
  
  .draft span.in-progress {
    background: var(--pink);
  }
  
  .draft span.published {
    background: var(--green);
  }
  
  .ellipsis {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  ul.supporter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
  }
  
  @media (max-width: 500px) {
    ul.supporter {
        display: block;
    }
  
    ul.supporter li {
        margin: 0 0 1rem 0;
    }
  }
  
  .supporter li {
    margin: 0;
    border: var(--standard-border);
  }
  
  .supporter li a,
  .supporter li span {
    display: block;
    padding: 3px 8px
  }
  
  .supporter li a::before {
    padding-right: 0.5rem;
    text-decoration: none;
    display: inline-block;
  }
  
  .supporter li span::before {
    padding-right: 0.5rem;
  }
  
  .supporter li span.member::before,
  .supporter li a.member::before {
    content: "💛";
  }
  
  .supporter li span.donator::before,
  .supporter li a.donator::before {
    content: "🙌🏻";
  }
  
  button.thumbs-up {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    border: 2px solid var(--border);
    background: var(--bg);
  }
  
  button.thumbs-up:hover {
    background: var(--pink);
    cursor: pointer;
  }
  
  button.thumbs-up:disabled {
    background: var(--accent-bg);
    cursor: not-allowed;
  }
  
  